 .u-section-1 {
  background-image: url("https://opengameart.org/sites/default/files/grass_template2.jpg");
  background-position: 50% 50%;
  min-height: 1809px;
}

.u-section-1 .u-table-1 {
  width: 340px;
  margin: -147px auto 60px;
}

.u-block-1f27-258 {
  height: 46px;
}

.u-block-1f27-271 {
  height: 46px;
}

.u-section-1 .u-group-elements-1 {
  width: 134px;
  min-height: 53px;
  height: auto;
  margin: -6596px calc(((100% - 340px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: auto;
  margin: 13px 44px 0 46px;
}

.u-section-1 .u-image-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-group-elements-2 {
  width: 134px;
  min-height: 53px;
  height: auto;
  margin: 127px calc(((100% - 340px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: auto;
  margin: 13px 44px 0 46px;
}

.u-section-1 .u-image-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-group-elements-3 {
  width: 134px;
  min-height: 53px;
  height: auto;
  margin: -555px calc(((100% - 340px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: auto;
  margin: 13px 44px 0 46px;
}

.u-section-1 .u-image-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-group-elements-4 {
  width: 134px;
  min-height: 53px;
  height: auto;
  margin: -206px calc(((100% - 340px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  width: auto;
  margin: 13px 44px 0 46px;
}

.u-section-1 .u-image-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-group-elements-5 {
  width: 134px;
  min-height: 53px;
  height: auto;
  margin: -192px calc(((100% - 340px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  width: auto;
  margin: 13px 44px 0 46px;
}

.u-section-1 .u-image-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-group-elements-6 {
  width: 134px;
  min-height: 53px;
  height: auto;
  margin: -192px calc(((100% - 340px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  width: auto;
  margin: 13px 44px 0 46px;
}

.u-section-1 .u-image-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-image-7 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 5762px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  width: 122px;
  margin: -46px auto 0;
}

.u-section-1 .u-image-8 {
  width: 872px;
  height: 106px;
  margin: 30px auto 0;
}

.u-section-1 .u-image-9 {
  width: 174px;
  height: 105px;
  margin: 33px auto 0;
}

.u-section-1 .u-table-2 {
  width: 1140px;
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + -14px);
}

.u-block-1f27-18 {
  height: 46px;
}

.u-block-1f27-33 {
  height: 46px;
}

.u-section-1 .u-image-10 {
  width: 88px;
  height: 124px;
  margin: -318px calc(((100% - 1140px) / 2) + 421px) 0 auto;
}

.u-section-1 .u-image-11 {
  width: 112px;
  height: 89px;
  margin: -425px calc(((100% - 1140px) / 2) + 416px) 0 auto;
}

.u-section-1 .u-image-12 {
  width: 134px;
  height: 81px;
  margin: 73px calc(((100% - 1140px) / 2) + 398px) 0 auto;
}

.u-section-1 .u-image-13 {
  width: 80px;
  height: 113px;
  margin: -256px auto 0 calc(((100% - 1140px) / 2) + 33px);
}

.u-section-1 .u-image-14 {
  width: 51px;
  height: 106px;
  margin: 49px auto 0 calc(((100% - 1140px) / 2) + 44px);
}

.u-section-1 .u-image-15 {
  width: 74px;
  height: 105px;
  margin: 56px auto 0 calc(((100% - 1140px) / 2) + 33px);
}

.u-section-1 .u-image-16 {
  width: 78px;
  height: 110px;
  margin: 61px auto 0 calc(((100% - 1140px) / 2) + 39px);
}

.u-section-1 .u-group-elements-7 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: -418px auto 0 calc(((100% - 1140px) / 2) + 293px);
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-17 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-group-elements-8 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: 100px auto 0 calc(((100% - 1140px) / 2) + 293px);
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-18 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-group-elements-9 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: 102px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-19 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-group-elements-10 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: -554px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-20 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-group-elements-11 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: -67px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-21 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-group-elements-12 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: 85px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-22 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-group-elements-13 {
  width: 168px;
  min-height: 67px;
  height: auto;
  margin: 101px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 21px 51px 0 64px;
}

.u-section-1 .u-image-23 {
  width: 168px;
  height: 67px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -47px auto 0 0;
}

.u-section-1 .u-image-24 {
  width: 366px;
  height: 117px;
  margin: 274px auto 0;
}

.u-section-1 .u-table-3 {
  width: 1140px;
  height: 496px;
  margin: 47px auto 0;
}

.u-block-1f27-78 {
  height: 46px;
}

.u-block-1f27-93 {
  height: 46px;
}

.u-section-1 .u-table-4 {
  width: 1140px;
  height: 496px;
  margin: -496px auto 0;
}

.u-block-1f27-122 {
  height: 46px;
}

.u-block-1f27-133 {
  height: 46px;
}

.u-section-1 .u-image-25 {
  width: 99px;
  height: 93px;
  margin: -459px auto 0 calc(((100% - 1140px) / 2) + 39px);
}

.u-section-1 .u-image-26 {
  width: 114px;
  height: 61px;
  margin: 81px auto 0 calc(((100% - 1140px) / 2) + 32px);
}

.u-section-1 .u-image-27 {
  width: 134px;
  height: 73px;
  margin: 98px auto 0 calc(((100% - 1140px) / 2) + 11px);
}

.u-section-1 .u-image-28 {
  width: 122px;
  height: 75px;
  margin: -397px calc(((100% - 1140px) / 2) + 419px) 0 auto;
}

.u-section-1 .u-image-29 {
  width: 72px;
  height: 105px;
  margin: 74px calc(((100% - 1140px) / 2) + 449px) 0 auto;
}

.u-section-1 .u-image-30 {
  width: 99px;
  height: 90px;
  margin: 70px calc(((100% - 1140px) / 2) + 433px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1492px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: -3633px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2) + 421px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 940px) / 2) + 416px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 940px) / 2) + 398px);
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 940px) / 2) + 44px);
  }

  .u-section-1 .u-image-15 {
    margin-left: calc(((100% - 940px) / 2) + 33px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 940px) / 2) + 39px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 940px) / 2) + 293px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-left: calc(((100% - 940px) / 2) + 293px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-left: calc(((100% - 940px) / 2) + 289px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 940px) / 2) + 289px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-right: calc(((100% - 940px) / 2) + 93px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 940px) / 2) + 93px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 940px) / 2) + 93px);
  }

  .u-section-1 .u-table-3 {
    width: 940px;
  }

  .u-section-1 .u-table-4 {
    width: 940px;
    margin-top: 20px;
  }

  .u-section-1 .u-image-25 {
    margin-top: 20px;
    margin-left: calc(((100% - 940px) / 2) + 39px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 940px) / 2) + 32px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-1 .u-image-28 {
    margin-top: -235px;
    margin-right: calc(((100% - 940px) / 2) + 419px);
    margin-left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-1 .u-image-29 {
    margin-top: 886px;
    margin-right: calc(((100% - 940px) / 2) + 449px);
    margin-left: calc(((100% - 340px) / 2) + 46px);
  }

  .u-section-1 .u-image-30 {
    margin: -167px calc(((100% - 940px) / 2) + 433px) 0 calc(((100% - 340px) / 2) + 35px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1125px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-right: calc(((100% - 720px) / 2) + 13px);
  }

  .u-section-1 .u-image-8 {
    width: 720px;
    height: 88px;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 720px) / 2) + 421px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 720px) / 2) + 416px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 720px) / 2) + 398px);
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 720px) / 2) + 33px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 720px) / 2) + 44px);
  }

  .u-section-1 .u-image-15 {
    margin-left: calc(((100% - 720px) / 2) + 33px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 720px) / 2) + 39px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 720px) / 2) + 293px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-left: calc(((100% - 720px) / 2) + 293px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-left: calc(((100% - 720px) / 2) + 289px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 720px) / 2) + 289px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-right: calc(((100% - 720px) / 2) + 93px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 720px) / 2) + 93px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 720px) / 2) + 93px);
  }

  .u-section-1 .u-table-3 {
    width: 720px;
  }

  .u-section-1 .u-table-4 {
    width: 720px;
  }

  .u-section-1 .u-image-25 {
    margin-left: calc(((100% - 720px) / 2) + 39px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 720px) / 2) + 32px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 720px) / 2) + 11px);
  }

  .u-section-1 .u-image-28 {
    margin-right: calc(((100% - 720px) / 2) + 419px);
  }

  .u-section-1 .u-image-29 {
    margin-top: 856px;
    margin-right: calc(((100% - 720px) / 2) + 449px);
  }

  .u-section-1 .u-image-30 {
    margin-right: calc(((100% - 720px) / 2) + 433px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1103px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-5 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-6 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
  }

  .u-section-1 .u-image-8 {
    width: 540px;
    height: 66px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-10 {
    margin-right: calc(((100% - 540px) / 2) + 421px);
  }

  .u-section-1 .u-image-11 {
    margin-right: calc(((100% - 540px) / 2) + 416px);
  }

  .u-section-1 .u-image-12 {
    margin-right: calc(((100% - 540px) / 2) + 398px);
  }

  .u-section-1 .u-image-13 {
    margin-left: calc(((100% - 540px) / 2) + 33px);
  }

  .u-section-1 .u-image-14 {
    margin-left: calc(((100% - 540px) / 2) + 44px);
  }

  .u-section-1 .u-image-15 {
    margin-left: calc(((100% - 540px) / 2) + 33px);
  }

  .u-section-1 .u-image-16 {
    margin-left: calc(((100% - 540px) / 2) + 39px);
  }

  .u-section-1 .u-group-elements-7 {
    margin-left: calc(((100% - 540px) / 2) + 293px);
  }

  .u-section-1 .u-group-elements-8 {
    margin-left: calc(((100% - 540px) / 2) + 293px);
  }

  .u-section-1 .u-group-elements-9 {
    margin-left: calc(((100% - 540px) / 2) + 289px);
  }

  .u-section-1 .u-group-elements-10 {
    margin-left: calc(((100% - 540px) / 2) + 289px);
  }

  .u-section-1 .u-group-elements-11 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-group-elements-12 {
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-group-elements-13 {
    margin-right: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-table-3 {
    width: 540px;
  }

  .u-section-1 .u-table-4 {
    width: 540px;
  }

  .u-section-1 .u-image-25 {
    margin-left: calc(((100% - 540px) / 2) + 39px);
  }

  .u-section-1 .u-image-26 {
    margin-left: calc(((100% - 540px) / 2) + 32px);
  }

  .u-section-1 .u-image-27 {
    margin-left: calc(((100% - 540px) / 2) + 11px);
  }

  .u-section-1 .u-image-28 {
    margin-right: calc(((100% - 540px) / 2) + 418px);
  }

  .u-section-1 .u-image-29 {
    margin-right: calc(((100% - 540px) / 2) + 449px);
  }

  .u-section-1 .u-image-30 {
    margin-right: calc(((100% - 540px) / 2) + 433px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2814px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 424px;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 0;
    min-height: 0;
    margin-top: -1340px;
    margin-right: calc(((100% - 340px) / 2) + -1055px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 141px;
    margin-right: -2241px;
    margin-left: 2197px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 523px;
    margin-right: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-4 {
    margin-right: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-1 .u-group-elements-5 {
    width: 0;
    min-height: 0;
    margin-top: -330px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-5 {
    margin-top: 164px;
    margin-right: -1803px;
    margin-left: 1759px;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 0;
  }

  .u-section-1 .u-group-elements-6 {
    margin-top: 423px;
    margin-right: calc(((100% - 340px) / 2) + 13px);
  }

  .u-section-1 .u-image-7 {
    margin-top: -467px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -46px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 42px;
    margin-top: 96px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    height: 649px;
    margin-top: 466px;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: -150px;
    margin-right: auto;
    margin-left: 85px;
  }

  .u-section-1 .u-image-11 {
    margin-top: -443px;
    margin-right: auto;
    margin-left: 73px;
  }

  .u-section-1 .u-image-12 {
    margin-top: 89px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -864px;
    margin-left: calc(((100% - 340px) / 2) + 39px);
  }

  .u-section-1 .u-image-14 {
    margin-top: 38px;
    margin-left: calc(((100% - 340px) / 2) + 56px);
  }

  .u-section-1 .u-image-15 {
    margin-top: 39px;
    margin-left: calc(((100% - 340px) / 2) + 40px);
  }

  .u-section-1 .u-image-16 {
    margin-top: 42px;
    margin-left: 90px;
  }

  .u-section-1 .u-group-elements-7 {
    margin-top: -238px;
    margin-left: 220px;
  }

  .u-section-1 .u-group-elements-8 {
    margin-top: 245px;
    margin-left: 222px;
  }

  .u-section-1 .u-group-elements-9 {
    margin-top: -221px;
    margin-left: 222px;
  }

  .u-section-1 .u-group-elements-10 {
    margin-top: -517px;
    margin-right: calc(((100% - 340px) / 2) + 2px);
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-11 {
    margin-top: 75px;
    margin-right: auto;
    margin-left: 220px;
  }

  .u-section-1 .u-group-elements-12 {
    margin-top: 559px;
    margin-right: auto;
    margin-left: 222px;
  }

  .u-section-1 .u-group-elements-13 {
    margin-top: 96px;
    margin-right: auto;
    margin-left: 220px;
  }

  .u-section-1 .u-image-24 {
    width: 340px;
    height: 109px;
    margin-top: 135px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
  }

  .u-section-1 .u-table-4 {
    width: 340px;
    margin-top: -2px;
  }

  .u-section-1 .u-image-25 {
    margin-top: -788px;
    margin-left: 90px;
  }

  .u-section-1 .u-image-26 {
    margin-top: -237px;
    margin-left: 85px;
  }

  .u-section-1 .u-image-27 {
    margin-top: 265px;
    margin-left: 68px;
  }

  .u-section-1 .u-image-28 {
    margin-top: 86px;
    margin-right: auto;
    margin-left: 78px;
  }

  .u-section-1 .u-image-29 {
    margin-top: 73px;
    margin-right: auto;
    margin-left: 101px;
  }

  .u-section-1 .u-image-30 {
    margin: 73px auto 60px 90px;
  }
} .u-section-2 {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b952dc19204877.562d67ed78485.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 721px;
}

.u-section-2 .u-image-1 {
  width: 267px;
  height: 117px;
  margin: 32px auto 0;
}

.u-section-2 .u-image-2 {
  width: 316px;
  height: 446px;
  margin: 1px auto 60px 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    width: 119px;
    height: 169px;
    margin-top: 11px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: url("https://cdn.gamedevmarket.net/wp-content/uploads/20200824134535/48ce8a2fd2cfac375c8445568af8fe54-1400x788.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-3 .u-image-1 {
  width: 440px;
  height: 117px;
  margin: 32px auto 0;
}

.u-section-3 .u-image-2 {
  width: 248px;
  height: 516px;
  margin: -9px auto 60px 43px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-3 .u-image-2 {
    height: 517px;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 90px;
  }

  .u-section-3 .u-image-2 {
    width: 88px;
    height: 183px;
    margin-top: 8px;
    margin-left: 109px;
  }
} .u-section-4 {
  background-image: url("https://i.pinimg.com/originals/0e/28/66/0e286625e4207a6ceb6f86f18815a97f.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 720px;
}

.u-section-4 .u-image-1 {
  width: 220px;
  height: 117px;
  margin: 32px auto 0;
}

.u-section-4 .u-image-2 {
  width: 366px;
  height: 516px;
  margin: -10px auto 60px -21px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-4 .u-image-2 {
    height: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-image-2 {
    height: 138px;
    width: 98px;
    margin-top: 32px;
    margin-left: 106px;
  }
} .u-section-5 {
  background-image: url("https://www.99images.com/download-image/893461/1920x960");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 722px;
}

.u-section-5 .u-image-1 {
  width: 396px;
  height: 117px;
  margin: 32px auto 0;
}

.u-section-5 .u-image-2 {
  width: 354px;
  height: 500px;
  margin: 25px auto 49px 32px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 100px;
  }

  .u-section-5 .u-image-2 {
    width: 112px;
    height: 159px;
    margin-top: 32px;
    margin-left: auto;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: url("https://pbs.twimg.com/media/FCkuXycWQAQAF2S.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 722px;
}

.u-section-6 .u-image-1 {
  width: 282px;
  height: 117px;
  margin: 33px auto 0;
}

.u-section-6 .u-image-2 {
  width: 253px;
  height: 202px;
  margin: 148px auto 60px 55px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-6 .u-image-2 {
    width: 121px;
    height: 97px;
    margin-top: 33px;
    margin-left: auto;
  }
} .u-section-7 {
  background-image: url("https://wallpaperaccess.com/full/3893596.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 723px;
}

.u-section-7 .u-image-1 {
  width: 294px;
  height: 117px;
  margin: 31px auto 0;
}

.u-section-7 .u-image-2 {
  width: 278px;
  height: 136px;
  margin: 146px auto 60px 31px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-7 .u-image-2 {
    width: 154px;
    height: 75px;
    margin-top: 31px;
    margin-left: auto;
  }
} .u-section-8 {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/025/475/193/large/david-chabaud-bg-chateau3.jpg?1585911289");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 722px;
}

.u-section-8 .u-image-1 {
  width: 521px;
  height: 117px;
  margin: 32px auto 0;
}

.u-section-8 .u-image-2 {
  width: 373px;
  height: 526px;
  margin: 15px auto 33px 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-8 .u-image-2 {
    height: 527px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 76px;
  }

  .u-section-8 .u-image-2 {
    width: 79px;
    height: 111px;
    margin-top: 32px;
    margin-left: auto;
    margin-bottom: 60px;
  }
} .u-section-9 {
  background-image: url("https://opengameart.org/sites/default/files/sand_template.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 722px;
}

.u-section-9 .u-image-1 {
  width: 480px;
  height: 117px;
  margin: 30px auto 0;
}

.u-section-9 .u-image-2 {
  width: 168px;
  height: 67px;
  margin: 459px auto 49px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 595px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 456px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 342px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 83px;
  }
}